# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.env
.venv
.envrc

# Django
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
/media/
/staticfiles/
*.log
*.cache
local_settings.py

# JavaScript / Node.js
node_modules/
npm-debug.log*
yarn-error.log
.yarn/
.yarn-cache/

# React
build/
dist/
.cache/
.npm/
.npmrc

# General IDE / OS files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Docker
*.pid
*.sock

